/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}